<%- include header %>
<center>


 <div class="jumbotron">
 <p>
 <a class="btn btn-lg btn-primary" href="/ir" role="button">Productos »</a>
 <br>
 <br>
 <a class="btn btn-lg btn-primary" href="/irUsuarios" role="button">Usuarios »</a>
 <br>
 <br>
   
 
 </p>
 </div>
</center>

 <%- include footer %>